* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
}

h1 {

  background: red;
  color: white;
}


.input {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 20px 0;
}

 #txt {

  width: 150px;
  height: 30px;
}
#btn {

  width: 50px;
  height: 30px;
}

.hidden {

  display: none;
}
