* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
}

body {

  background: rgb(32, 32, 32);
  color: white;
}

header {

  height: 100px;
  background: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
}

h1 {

  color: red;
}

.header-left, .header-right {

   display: flex;
   color: white;
}

span {

  color: white;
  padding: 10px;
  margin-left: 25px;
}

.films {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 150px;
}

.div.img {

  width: 154px;
  height: 235px;
}

.div.img  img{

  height: 100%;
  width: 100%;
}

.input {

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fa-search {

  color: grey;
  margin-right: 10px;

}

 #txt {

  width: 150px;
  height: 30px;

  background: black;
  border: 1px solid black;
  color: white;

  text-align: center;
  padding-right: 10px;
}

.fa-bell {

  color: white;
  padding-left: 10px;
}

.bell {

  position: relative;
  .margin-left: 10px;
}

.red-square {

  height: 10px;
  width:  10px;

  border-radius: 50%;
  background: red;

  position: absolute;
  top: 0;
  right:0;
}

.fa-exclamation {

  color: white;
  font-size: 8px;

  position: absolute;
  top: 0;
  right: 3px;
}

.hidden {

  display: none;
}

i {

  display: inline-block;
}

.fas.fa-star {

  display: block;
  width: 16px;
  height: 16px;
}

.far.fa-star {

  display: block;
  width: 16px;
  height: 16px;
}

div.info {

  height: 513px;
  width: 342px;

  background: black;
  color: white;
  border: 1px solid white;
  display: none;

  position: absolute;
  top: 0;
  left:0;

}

div.info.active {


  display: block;
}

.info li {

  display: flex;
  padding: 8px;

  margin-right: 0 15px;
  width: 100%;
}

.film-container {

  display: block;
  margin: 50px 10px 10px 5px;

  height: 513px;
  width: 342px;
  position: relative;
}

li[display = none] {

  display: none;
}

li img {

  margin-left: 10px;
  position: relative;
  bottom: 10px;
}

li[stars = stars] {

  position: relative;
  bottom: 15px;
}
